@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
	body{background-color: #16242D  !important}
}

:root {
  scrollbar-color: #16242D #111E26 !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}
