/* FF 72+ compact style */
@import url('file:///home/xable/.mozilla/colors.css');

:root {
  --bg-dark: var(--bg);
  --bg-light: var(--blk);
  --animation: var(--mag);
  --tab-font: "kuzu";
  --tab-font-size 8pt;
  --url-font: "JetBrains Mono";
  --url-font-size: 9pt;
}

.tab-line {
  display: none !important;
}

.tab-background {
    border-top: none !important;
}

.tabbrowser-tab:not(:hover) .close-icon {
  opacity: 0 !important
}

#TabsToolbar {
  margin-bottom: 0 !important;
}

#tabs-newtab-button {
  display: none !important;
}

#tabbrowser-tabs, .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
  background: var(--bg-dark) !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;
}

.tab-loading-burst[bursting]::before {
  fill: var(--mag) !important
}

.tab-background[selected="true"] {
  background: var(--bg-light) !important;
}

.tab-background[selected="false"], .tabbrowser-tab {
  background: var(--bg-dark) !important;
}

.tab-content {
  padding: 0px 3px 0px 3px !important;
  font-family: var(--tab-font) !important;
  font-size: var(--tab-font-size) !important;
}

.browserContainer {
	background-color: var(--bg-light) !important;
}

#nav-bar, #navigator-toolbox {
  height: 30px !important;
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: var(--bg-light) !important;
}

#urlbar, #urlbar-container {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 0px !important;
  border-radius: 0px !important;
  background: var(--bg-light) !important;
  font-family: var(--url-font) !important;
  font-size: var(--url-font-size) !important;
}

#urlbar, #searchbar {
  min-height: 20px !important;
  max-height: 20px !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 13px) !important; /* edit 13px to fit */
  height: calc(2 * var(--toolbarbutton-inner-padding) + 13px) !important; /* edit 13px to fit */
}

#PersonalToolbar .toolbarbutton-1 {
  transform: scale(.85) !important;
}

#tracking-protection-icon-container,#pageActionSeparator {
  border-inline-width: 0px !important;
}

#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,
browser[type=content-primary],browser[type=content] > html {
background: var(--bg-light); !important
}
